<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>china360</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


  </head>
<body>
        <header> 
            <h1>CHINA360</h1> 
              
           
           
        </header>
     <nav>
            <a href='index.html'>About</a>
            <a href='menu.html'>Menu</a>
            <a href='contact.html'>Contact</a>
     </nav>

     
    <h1>Menu</h1>


<main>


<section class="menu">
    <h3>Appetizers</h3> 
    <img src="images/app1.jpg" alt="appetizers" width="200px">
    
    <div class="list">
        <p>Poo Poo Plater</p>
        <p>Spring Roll</p>
        <p>Egg Roll</p>
        <p>dfg</p>
        <p>dgfg</p>
        <p>fgdg</p>
        <p>fgdfg</p>
    </div>    
    

    


    <h3>Lo Mein</h3> <img src="images/dish4.jpg" alt= "Chicken Lo Mein" height="200px" >
    <div class="list">
            <p>Chicken Lo Mein</p> 
            <p>Vegi Lo Mein</p>  
            <p>House Lo Mein</p> 
            <p>Pork Lo Mein</p>  
    </div>                
    
</section>
        

<section class="drinks">
    <h4>Drinks</h4>
   <div class="list">
        <p>Coke</p>
        <p>Diet Coke</>
        <p>Dr. Pepper</p>
        <p>Mt. Dew</p>
        <p>Sprite</p>
        <p>Sweet Tea</p>
        <p>Unsweat Tea</p>
    </div>    
    

</section>

</main>




<footer>
     <p>	
         &copy; 2017 China360
     </p> 

     <p>
            <a href="http://facebook.com"><i class="fab fa-facebook"></i></a>
            <a href="http://facebook.com"><i class="fab fa-twitter-square"></i></a>
            <a href="http://facebook.com"><i class="far fa-envelope"></i></a>
                
     </p>
        
 </footer>

</body>

</html>
